.navbar-default .navbar-nav li a {
  color: #999
}

.navbar-default .navbar-nav li a:hover {
color: #fff
}

.navbar-default {
  background-color: #333
}

.navbar {
    border-radius: 0px;
}

.nav {
  padding-left: 35px;
}

.page-header {
  border-bottom: none;
  padding-left: 50px;
}

a:hover {
  color: #666;
}

a {
  color: #333;
}