.navbar-default .navbar-nav li a {
  color: #999
}

.navbar-default .navbar-nav li a:hover {
color: #fff
}

.navbar-default {
  background-color: #333
}

.navbar {
    border-radius: 0px;
}

.nav {
  padding-left: 35px;
}

.page-header {
  border-bottom: none;
  padding: 20px 0px 20px 50px;
  margin: 0;
  background-color: #fff;
}

a:hover {
  color: #666;
}

a {
  color: #333;
}
body {
  background-color: #f5f5f5;
}